/* Write your CSS code here */
.main-container {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  align-items: center;
  border: solid 1px #8e8e8e;
  padding: 20px;
  border-radius: 8px;
}

.img {
  height: 200px;
  width: 300px;
  margin-right: 50px;
  border-radius: 20px;
}
.avatar-img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-right: 10px;
}

.image-container {
  display: flex;
}

.blog-item-link {
  text-decoration: none;
  cursor: pointer;
}
